$electronic: rgb(49, 200, 35);
$electronic2: rgb(49, 177, 37);
$all: rgb(66, 160, 189);
$all2: rgb(67, 144, 168);
$metal: rgb(53, 100, 161);
$metal2: rgb(53, 91, 141);
$experimental: rgb(153, 74, 181);
$experimental2: rgb(138, 74, 161);
$ambient: rgb(163, 194, 189);
$ambient2: rgb(155, 182, 177);
$jazz: rgb(94, 159, 202);
$jazz2: rgb(85, 148, 191);
$rap: rgb(233, 73, 73);
$rap2: rgb(225, 61, 61);
$pop: rgb(0, 204, 163);
$pop2: rgb(4, 179, 144);

.all, .k-pop {
  background-color: $all;
}

.electronic, .grunge {
  background-color: $electronic;
}

.metal, .diy {
  background-color: $metal;
}

.experimental, .disco {
  background-color: $experimental;
}

.ambient, .ballads {
  background-color: $ambient;
}

.jazz {
  background-color: $jazz;
}

.pop {
  background-color: $pop;
}

.rap {
  background-color: $rap;
}

.all.bar-2, .k-pop.bar-2 {
  background-color: $all2;
}

.electronic.bar-2, .grunge.bar-2 {
  background-color: $electronic2;
}

.metal.bar-2, .diy.bar-2 {
  background-color: $metal2;
}

.experimental.bar-2, .disco.bar-2 {
  background-color: $experimental2;
}

.ambient.bar-2, .ballads.bar-2{
  background-color: $ambient2;
}

.jazz.bar-2 {
  background-color: $jazz2;
}

.pop.bar-2 {
  background-color: $pop2;
}

.rap.bar-2 {
  background-color: $rap2;
}

.browse-container {
  width: 100%;
  margin-top: 50px;
  background-color: #ececec;
}

.browse-top-bar {
  width: 100%;
  height: 40px;
}
.tag-pill-list {
  margin: auto;
  display: flex;
  justify-content: left;
}

.tag-pill {
  margin: 7px 10px;
  padding: 4px 10px 6px 10px;
  border-radius: 14px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.tag-pill.selected-tag, .tag-pill:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
