$green: #63a989;
$darkgreen: #47875b;

.recent-albums-container {
  margin: 0 auto;
}

.recent-albums-header {
  margin: 20px 15px;
  padding-bottom: 20px;
  border-bottom: dotted 2px #63a989;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #63a989;
}
