// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #63a989;

.session-form-container {
  background-color: #f3f3f3;
  height: 684px;
  display: flex;
  justify-content: center;
}

.session-form-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.session-form {
  display: flex;
  flex-direction: column;
  margin: 60px;
  width: 650px;
}

.session-input {
  border: 1px solid #ccc;
  width: 300px;
  height: 35px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #fff;
  // border-radius: 10px;
}

.session-form-input {
  display: inline-block;
  margin-top: 25px;
  font-size: 16px;
}

.session-form-input label {
  display: inline-block;
  width: 159px;
  text-align: right;
  margin-right: 16px;
  color: #333;
}

.session-submit {
  display: inline-block;
  width: 300px;
  height: 36px;
  background-color: $green;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.session-submit:hover {
  background-color: #47875b;
}

.session-submit:disabled  {
  background-color: #555;
  color: #ccc;
  opacity: 0.3;
}

.divider {
  border-bottom: 2px dotted #ccc;
  height: 0px;
  margin: 36px 0 28px 0;
}

.session-errors {
  color: #c43329;
  font-size: 16px;
  text-align: left;
  height: 16px;
  display: block;
}

.session-errors ul {
  margin-left: 175px;
}

.modal-session-errors {
  color: #c43329;
  font-size: 16px;
  text-align: left;
  height: 16px;
  display: block;
}

.session-errors li {
  margin-top: 5px;
}

.session-form-footer {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  color: #666666;
}

.session-form-footer a {
  color: $green;
  font-weight: normal;
  font-size: 12px;
}

.session-form-footer a:hover {
  text-decoration: underline;
}

// modals session forms


.modal-session-form {
  margin: auto;
  margin-top: 35px;
  width: 340px;
}

.modal-session-form-input {
  width: 300px;
}

.modal-session-form-input label {
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 3px;
  // color: #333333;
}

.modal-session-input {
  border: 1px solid #ccc;
  width: 340px;
  height: 35px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.modal-session-submit {
  width: 340px;
  height: 36px;
  background-color: $green;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 25px auto;
  border-radius: 5px;
}

.modal-session-submit:disabled  {
  background-color: #555;
  color: #ccc;
  opacity: 0.3;
}

.modal-session-submit:hover {
  text-decoration: underline;
}
