// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-container {
  background-color: #fbfbfb;
}

.user-banner-container {
  width: 100%;
  height: 100px;
  background-image: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39f97e57883191fcc60db11e46e6eb9c&auto=format&fit=crop&w=1334&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-profile-img-container {
  width: 210px;
  height: 210px;
  margin: -30px 38px 0px 0px;
}

.user-profile-img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.user-bio-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 16px;
}

.user-name {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  margin-right: 20px;
}

.bio-header{
  margin-top: 18px;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.bio-header fa {
  margin-right: 3px;
  margin-bottom: 1px;
}

.hollow-btn {
  border: 1px solid #939497;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  padding: 3px 9px;
  color: #939497;
  margin: auto 0;
}

.bio-info-list {
  font-size: 13px;
  color: #828282;
}

.bio-info {
  font-size: 15px;
  line-height: 22px;
}

.bio-info p {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}

.bio-info a {
  color: #63a989;
  font-weight: normal;
}

.user-tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
}

.user-tabs a {
  color: #63a989;
  padding: 10px 20px;
  display: block;
}

.user-tabs a:hover {
  text-decoration: none;
  border-bottom: 2px solid #63a989;
}
.user-tabs .active {
  border-bottom: 2px solid #333333;
  color: #333333;
  cursor: default;
}

.user-show-grid-container {
  width: 95%;
  margin: 0 auto;
}

// EDIT

.user-edit-form {
  max-width: 698px;
}

.user-edit-form:focus {
  box-shadow: 0 0 5px #b4d7f9;
}

.user-edit-field-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.user-edit-field-container label {
  color: #929292;
  margin-bottom: 6px;
  margin-top: 30px;
}

.user-edit-input-box {
  display: flex;
}

.user-edit-textarea-box textarea {
  width: 100%;
  max-width: 630px;
  min-height: 115px;
  border: 1px solid #a7a7a7;
  padding: 8px;
  font-size: 13px;
  line-height: 19px;
}

.user-edit-input-field {
  width: 304px;
  height: 32px;
  padding: 0 8px;
  border: 1px solid #a7a7a7;
}

.user-edit-submit-box a {
  text-transform: uppercase;
  color: #63a989;
  font-size: 13px;
  font-weight: 700;
}

.user-edit-submit {
  padding: 8px 20px;
  background-color: #63a989;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 30px;
}

.user-edit-submit:hover {
  text-decoration: underline;
}

.edit-prof-img {

}

.img-edit-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
  top: -210px;
  width: 100%;
  height: 100%;
}
