// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 980px) { .user-show-box { width: 756px; } }
@media screen and (min-width: 980px) { .user-show-box { width: 1008px; } }
@media screen and (min-width: 1300px) { .user-show-box { width: 1260px;  } }

.user-show-container {
  background-color: #fbfbfb;
}

.user-banner-container {
  width: 100%;
  height: 100px;
}

.user-banner-img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.user-show-box {
  margin: 0 auto;
}

.user-profile-img-container {
  width: 210px;
  height: 210px;
  margin: -30px 38px 0px 0px;
  background-size: cover;
}

@media (max-width: 980px) {
  .user-profile-img-container {
    width: 160px;
    height: 160px;
  }
}

// .user-profile-img {
//   width:100%;
//   height:100%;
//   object-fit: cover;
//   overflow: hidden;
// }

.user-bio-container {
  margin: 0 11px;
  display: flex;
  padding-bottom: 16px;
}

.user-name {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  margin-right: 20px;
}

.bio-header{
  margin-top: 18px;
  margin-bottom: 10px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.bio-header fa {
  margin-right: 3px;
  margin-bottom: 1px;
}

.hollow-btn {
  border: 1px solid #939497;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  padding: 3px 9px;
  color: #939497;
  margin: auto 0;
}

.bio-info-list {
  font-size: 13px;
  color: #828282;
}

.bio-info {
  font-size: 15px;
  line-height: 22px;
}

.bio-info p {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}

.bio-info a {
  color: #63a989;
  font-weight: normal;
}

.user-tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  margin: 0 11px;
}

.user-tabs a {
  color: #63a989;
  padding: 10px 20px;
  display: block;
}

.user-tabs a:hover {
  text-decoration: none;
  border-bottom: 2px solid #63a989;
}
.user-tabs .active {
  border-bottom: 2px solid #333333;
  color: #333333;
  cursor: default;
}

.user-show-grid-container {
  justify-content: center;
  margin: 0 auto;
}

// EDIT

.user-edit-form {
  max-width: 698px;
}

.user-edit-form:focus {
  box-shadow: 0 0 5px #b4d7f9;
}

.user-edit-field-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.user-edit-field-container label {
  color: #929292;
  margin-bottom: 6px;
  margin-top: 30px;
}

.user-edit-input-box {
  display: flex;
}

.user-edit-textarea-box textarea {
  width: 100%;
  max-width: 630px;
  min-height: 115px;
  border: 1px solid #a7a7a7;
  padding: 8px;
  font-size: 13px;
  line-height: 19px;
}

.user-edit-input-field {
  width: 304px;
  height: 32px;
  padding: 0 8px;
  border: 1px solid #a7a7a7;
}

.user-edit-submit-box a {
  text-transform: uppercase;
  color: #63a989;
  font-size: 13px;
  font-weight: 700;
}

.user-edit-submit {
  padding: 8px 20px;
  background-color: #63a989;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 30px;
}

.user-edit-submit:hover {
  text-decoration: underline;
}

.image-edit-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.image-edit-overlay:hover {
  background-color: rgba(0,0,0,0.6);
}

//
// .img-edit-overlay-trigger {
//   width: 210px;
//   height: 210px;
//   position: absolute;
//   right: 1096px;
//   bottom: 145px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #fff;
//   font-size: 25px;
//   background-color: rgba(0,0,0,0.3);
// }

.banner-img-edit-trigger {
  width: 173px;
  height: 30px;
  position: absolute;
  right: 106px;
  bottom: 333px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}
