// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #63a989;
$darkgreen: #47875b;

.album-show-container {
  margin: auto;
  min-height: 616px;
  background-color: #f8f8f8;
  height: 100%;
  background-attachment: fixed;
}

.artist-banner-container img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.album-show-body-container {
  display: flex;
  justify-content: center;
  padding: 35px 30px;
  width: 915px;
  border: solid 1px #ddd;
  border-top: none;
  margin: auto;
  margin-bottom: 40px;
  min-height: 600px;
  background-color: #fff;
}

.album-detail-container {
  display: flex;
}


.album-show-info-container {
  width: 376px;
  font-size: 14px;
}

.album-show-info-container > p {
  margin: 15px 0px;
}

.album-show-info-container h2 {
  font-size: 28px;
}

.album-show-info-container a {
  color: $darkgreen;
}

.artist-detail-container {
  width: 120px;
}

.album-show-cover-container {
  margin: 0px 35px;
}

.album-show-cover-container h5 {
  margin: 20px 0px;
  font-size: 14px;
}

.album-show-cover {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.release-date {
  margin-top: 20px;
}

.collector-index {
  display: flex;
}

.collector-index li {
  margin: 9px;
  margin-left: 0px;
}

.collector-index img {
  width: 28px;
  height: 28px;
}

.play-box {
  height: 52px;
  margin: 24px 0px;
  display: flex;
  align-items: center;
}

.play-button {
  background-color: #fff;
  width: 52px;
  height: 52px;
  text-align: center;
  font-size: 26px;
  border-radius: 2px;
  border: solid 1px #ddd;
  margin-right: 10px;
}

.title-progbar-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 100%;
}

.prog-bar-container {
  width: 250px;
  background-color: #eee;
}

.prog-bar {
  // must be desired width minus width of slider
  width: 226px;
  height: 8px;
  margin: auto;
  background-color: #eee;
  cursor: pointer;
}

.prog-bar-slider {
  width: 24px;
  height: 12px;
  left: -12px;
  bottom: 2px;
  background-color: $green;
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
}

.prog-bar-slider:hover {
  background-color: $darkgreen;
}

.ff-buttons {
  margin-top: 19px;
  font-size: 11px;
}

.ff-buttons span {
  margin-left: 18px;
  transform: scale(1.5,1);
}

.ff-buttons button:disabled {
  color: #eee;
  cursor: default;
}

.album-purchase-container {
  margin-bottom: 30px;
}

.album-purchase-container a {
  font-size: 20px;
  margin-right: 5px;
}

.album-purchase-container strong {
  font-weight: bold;
  font-size: 20px;
}

.track-list {
  margin: 30px 0px;
}

.track-list li {
  margin: 8px 0px;
  font-size: 12px;
}

.track-list-item button {
  height: 16px;
  width: 18px;
  font-size: 10px;
}

.track-list-item button span {
  margin-left: 3px;
}


.artist-detail-container h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.artist-detail-container span {
  display: block;
  margin: 5px 0px;
}

.small-text {
  color: #888888;
  font-weight: 500;
}

// .artist-detail-container button {
.album-show-button {
  background-color: $green;
  color: #fff;
  width: 100%;
  height: 28px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px 0px;
}

.album-artist-profile-img {
  width: 120px;
  height: auto;
}


.album-artist-discog span {
  font-size: 14px;
  margin: 15px 0px;
}

.album-artist-discog .small-text {
  font-size: 0.83333333333333em;
  margin-top: 5px;
}

.album-artist-discog a {
  color: $darkgreen;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.album-artist-discog img {
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
  object-fit: cover;
}

// album create

.album-create-background {
  background-color: #ddd;
  min-height: 900px;
  height: 100%;
}

.album-create-container {
  width: 975px;
  min-height: 850px;
  margin: auto;
  padding-top: 20px;
  background-color: #f7f7f7;
}

.album-form > ul {
  width: 490px;
  position: relative;
}

.album-input-container {
  display: flex;
  justify-content: center;
}

.album-cover-file-input {
  cursor: pointer;
  height: 210px;
  width: 210px;
  background-color: #eee;
  color: #929292;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
}

.album-cover-file-input span {
  display: block;
}

.album-info {
  width: 470px;
  height: 94px;
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: -3px 2px 9px -2px #eee;
  z-index: 3;
  border: solid 1px #ddd;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  border-left: $green solid 3px;
}

.album-info div:last-child {
  margin-left: 10px;
  font-size: 11px;
}

.album-info p:first-child {
  font-size: 20px;
}

.album-info p {
  margin-bottom: 5px;
}

.album-info strong {
  font-weight: bold;
}

.album-info p:last-child {
  color: #555;
}

.album-create-thumb {
  width: 70px;
  height: 70px;
  background-size: cover;
}

.album-create-right-column {
  width: 486px;
  left: 489px;
  top: -20px;
  background-color: #fff;
  position: absolute;
  min-height: 870px;
  box-shadow: -1px 2px 6px -1px #eee;
  border-left: solid 1px #ddd;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.album-create-right-column input {
  width: 100%;
}

.album-create-right-column textarea {
  margin-top: 10px;
  height: 155px;
  width: 100%;
  resize: none;
}

.album-create-tag-input {
  color: black;
  width: 198px;
}

.album-create-tags {
  max-width: 225px;
}

#alb-tag-label {
  color: black;
}

.track-info {
  background-color: #fff;
  width: 100%;
  margin: 5px 0px 0px 20px;
  z-index: 3;
  height: 50px;
  border: solid 1px #ddd;
  border-right: none;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-left: $green solid 3px;
  padding-left: 5px;
}

.info-deselected {
  background-color: #f7f7f7;
  z-index: 1;
  border: dotted 1px #ddd;
  border-right: none;
  box-sizing: border-box;
  box-shadow: none;
  width: 96%;
}

.track-info.info-deselected {
  padding-left: 3px;
}

.track-input-field {
  padding: 10px;
  border: solid 1px #666666;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
}

.track-input label {
  font-size: 16px;
}

.buttons-container {
  margin: 20px;
}

.buttons-container > .hollow-btn {
  color: $green;
  border-color: $green;
  cursor: pointer;
}

.buttons-container > .hollow-btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: $green;
}

.album-form > ul > span {
  display: block;
  border-bottom: #63a989 1px dotted;
  padding: 20px;
  margin-left: 20px;
}

.small-fields-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.track-info span {
  color: #888;
  font-size: 20px;
}

.track-info > span {
  cursor: pointer;
  border-radius: 3px;
  margin: 12px 20px;
}

.track-info span:hover {
  color: black;
}

.track-info > div {
  display: flex;
  align-items: center;
}

.track-info > div > span {
  padding: 14px;
  height: 100%;
  border-right: solid 1px #ddd;
}

.track-info p {
  margin: 10px;
  font-size: 14px;
}

.track-info strong {
  margin-right: 10px;
  font-weight: bold;
}

.album-upload-loader-container {
  margin-top: 300px;
}

// errors classes

.album-errors {
  font-size: 12px;
  height: 12px;
  color: #c43329;
}

.album-price-and-errors {
  width: 50%;
}

.error-info {
  border-left: solid 3px #c43329;
}


// collection btn
.collection-btn {
  margin: 20px 0px;
}
