/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px;
}

img {
  width: 43px;
  height: 43px;
}

a {
  color: #161113;
  font-weight: 700;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  display: flex;
  justify-content: space-around;
}

.main-logo {
  width: 150px;
  height: 23px;
}

.main-footer {
  background-color: #63a989;
  min-height: 320px;
}
