/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  font-size: 12px;
  height: 100%;
}

header {
  // display: flex;
  // justify-content: center;
  // padding: 20px;
}

img {
  width: 43px;
  height: 43px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

a {
  color: #161113;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  background-color: rgba(255,255,255,0.80);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.landing-header-div {
  margin: auto;
  max-width: 994px;
  min-height: 100px;
  font-size: 14px;
  box-sizing: border-box;
  padding-top: 20px;
}

.session-header-div {
  margin: auto;
  max-width: 994px;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
}

.loggedin-header-nav-ul {
  font-size: 14px;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  border-right: solid 1px #DDDDDD;
  padding: 0 10px;
}

.header-nav ul li:first-child {
  padding-left: 0;
}

.header-nav ul li:last-child {
  border-right: none;
}

.thin-header {
  border-top: solid 5px #848484;
  background-color: #ececec;
  border-bottom: dotted #afafaf 1px;
}

.thin-header a, i {
  color: #63a989;
  font-weight: 500;
  padding: 10px;
  display: block;
}

.fa-cog {
  font-size: 15px;
  padding-right: 10px;
}

.thin-header a:hover {
  text-decoration: none;
  color: #666666;
  background-color: rgba(0,0,0,0.06);
  // need to make border on top of all the elements
  // border-top: solid 5px #666666;
}

.thin-header ul:first-child li:first-child a {
  padding-left: 0;
  padding-right: 14px;
}

.thin-header-nav {
  margin: auto;
  width: 95%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thin-header-nav-ul {
  display: flex;
}

.thin-header-logo {
  width: auto;
  height: 12px;
  padding-top: 1px;
}

.signed-out-msg {
  font-weight: 500;
  color: #63a989;
}

.main-logo {
  width: auto;
  height: 21px;
}

.main-footer {
  background-color: #63a989;
  min-height: 320px;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal {
  display: none;
  color: #2e3332;
}

.modal.is-open {
  display: block;
}

.modal-box {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 500px;
  padding-bottom: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
}

.modal-box {
}

.modal-title-bar {
  background-color: #f3f3f3;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 15px 10px 0;
  border-bottom: solid 1px #eee;
}

.modal-title-bar i {
  position: relative;
  left: 225px;
  bottom: 23px;
  font-size: 20px;
  color: #848484;
}

.modal-title-bar i:hover {
  color: #666666;
}

input[type=text], input[type=password], textarea {
  transition: border 0.4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #63a989;
  box-shadow: 0 0 5px #b4d7f9;
}

.error-input {
  border: 1px solid #c43329;
}

// TODO more general dropdown class?
#gear-dropdown {
  position: absolute;
  left: 1190px;
  top: 49px;
  width: 100px;
  background-color: #ececec;
  z-index: 3;
}
