/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$green: #63a989;

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  font-size: 12px;
  height: 100%;
}

header {
  // display: flex;
  // justify-content: center;
  // padding: 20px;
}

img {
  width: 43px;
  height: 43px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

a {
  color: #161113;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

.main-header {
  background-color: rgba(255,255,255,0.80);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.landing-header-div {
  margin: auto;
  max-width: 994px;
  min-height: 100px;
  font-size: 14px;
  box-sizing: border-box;
  padding-top: 20px;
}

.session-header-div {
  margin: auto;
  max-width: 994px;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-size: 16px;
}

.loggedin-header-nav-ul {
  font-size: 14px;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li {
  border-right: solid 1px #DDDDDD;
  padding: 0 10px;
}

.header-nav ul li:first-child {
  padding-left: 0;
}

.header-nav ul li:last-child {
  border-right: none;
}

.thin-header {
  // border-top: solid 5px #848484;
  background-color: #ececec;
  border-bottom: dotted #afafaf 1px;
  box-sizing: border-box;
  height: 49px;
}

.border {
  border-top: solid 5px #848484;
  position: absolute;
  width: 100%;
}

.thin-header a, i {
  color: $green;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 11px;
  display: block;
  margin-top: 4px;
}

.fa-cog {
  font-size: 15px;
  padding-right: 10px;
}

.thin-header a:hover {
  text-decoration: none;
}

.thin-header ul {
  height: 100%;
}

.thin-header li {
  margin-top: -1px;
  padding: 5px 0px 3px 0px;
}

.thin-header li:not(#logo-li):hover {
  color: #666;
  background-color: rgba(0,0,0,0.06);
  border-top: solid 5px #666;
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 100;
}

#logo-li a {
  padding-left: 0;
  padding-right: 14px;
  padding-top: 11px;
}

.thin-header-nav {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thin-header-nav-ul {
  display: flex;
}

.thin-header-logo {
  width: auto;
  height: 12px;
  padding-top: 1px;
}

.signed-out-msg {
  font-weight: 500;
  color: $green;
}

.main-logo {
  width: auto;
  height: 21px;
}

.main-footer {
  background-color: $green;
  min-height: 320px;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal {
  display: none;
  color: #2e3332;
}

.modal.is-open {
  display: block;
}

.modal-box {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  padding-bottom: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
}

.modal-box {
}

.modal-title-bar {
  background-color: #f3f3f3;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 15px 10px 10px;
  border-bottom: solid 1px #eee;
}

.modal-title-bar i {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
  color: #848484;
}

.modal-title-bar i:hover {
  color: #666666;
}

input[type=text], input[type=password], textarea {
  transition: border 0.4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid $green;
  box-shadow: 0 0 5px #b4d7f9;
}

.error-input {
  border: 1px solid #c43329;
}

// TODO more general dropdown class?
#gear-dropdown {
  position: absolute;
  top: 45px;
  right: 0px;
  width: 100px;
  background-color: #ececec;
  z-index: 3;
}

#gear-dropdown-li {
  position: relative;
}

// image upload modal

.file-input-container {
  overflow: hidden;
  position: relative;
  background-color: $green;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 10px 20px;
  left: 178px;
  // font-size: 1.25em;
  // font-weight: 700;
  // color: white;
  // background-color: $green;
  // display: inline-block;
}

.file-input-container [type=file] {
  // cursor: pointer;
  // display: block;
  // min-height: 100%;
  // min-width: 100%;
  // opacity: 0;
  // position: absolute;
  // right: 0;
  // text-align: right;
  // top: 0;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
